.section2 h1,
.section3 h1,
.section4 h1,
.section5 h1,
.section6 h1,
.section7 h1,
.section8 h1, .section1 h1, .section1 h2, .section1 img, .section1 .info1,
.section1 .info2, .section2 .sct-title, .section2 .info1, .section2 .info2, .section2 .info3, .section3 .container-left, .section3 .container-right, .section3 .info1,
.section3 .info2,
.section3 .info3,
.section3 .info4, .section4 .sct-title, .section4 .container img, .section5 .sct-title, .section5 .wrap > p:nth-of-type(1), .section5 .wrap > p:nth-of-type(2), .section5 .wrap > p:nth-of-type(3), .section6 .sct-title, .section6 img:nth-of-type(2),
.section6 img:nth-of-type(1), .section7 .sct-title, .section7 .sec7-img1,
.section7 .sec7-img2,
.section7 .sec7-img3,
.section7 .sec7-img4, .section8 .sct-title, .section8 img {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

.fp-viewing-1 .section2 h1,
.fp-viewing-2 .section3 h1,
.fp-viewing-3 .section4 h1,
.fp-viewing-4 .section5 h1,
.fp-viewing-5 .section6 h1,
.fp-viewing-6 .section7 h1,
.fp-viewing-7 .section8 h1, .fp-viewing-0 .section1 h1,
.fp-viewing-0 .section1 h2, .fp-viewing-0 .section1 img, .fp-viewing-0 .section1 .info1, .fp-viewing-0 .section1 .info2, .fp-viewing-1 .section2 .sct-title, .fp-viewing-1 .section2 .info1, .fp-viewing-1 .section2 .info2, .fp-viewing-1 .section2 .info3, .fp-viewing-2 .section3 .container-left,
.fp-viewing-2 .section3 .container-right, .fp-viewing-2 .section3 .info1, .fp-viewing-2 .section3 .info2, .fp-viewing-2 .section3 .info3, .fp-viewing-2 .section3 .info4, .fp-viewing-3 .section4 .sct-title, .fp-viewing-3 .section4 .container img:nth-of-type(6), .fp-viewing-3 .section4 .container img:nth-of-type(5), .fp-viewing-3 .section4 .container img:nth-of-type(4), .fp-viewing-3 .section4 .container img:nth-of-type(3), .fp-viewing-3 .section4 .container img:nth-of-type(2), .fp-viewing-3 .section4 .container img:nth-of-type(1), .fp-viewing-4 .section5 .sct-title, .fp-viewing-4 .section5 .wrap > p:nth-of-type(1), .fp-viewing-4 .section5 .wrap > p:nth-of-type(2), .fp-viewing-4 .section5 .wrap > p:nth-of-type(3), .fp-viewing-5 .section6 .sct-title, .fp-viewing-5 .section6 img:nth-of-type(1), .fp-viewing-5 .section6 img:nth-of-type(2), .fp-viewing-6 .section7 p, .fp-viewing-6 .section7 .sec7-img1, .fp-viewing-6 .section7 .sec7-img2, .fp-viewing-6 .section7 .sec7-img3, .fp-viewing-6 .section7 .sec7-img4, .fp-viewing-7 .section8 .sct-title, .fp-viewing-7 .section8 img:nth-of-type(1), .fp-viewing-7 .section8 img:nth-of-type(2), .fp-viewing-7 .section8 img:nth-of-type(3), .fp-viewing-7 .section8 img:nth-of-type(6), .fp-viewing-7 .section8 img:nth-of-type(5), .fp-viewing-7 .section8 img:nth-of-type(4) {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.fp-viewing-1 .section2 h1,
.fp-viewing-2 .section3 h1,
.fp-viewing-3 .section4 h1,
.fp-viewing-4 .section5 h1,
.fp-viewing-5 .section6 h1,
.fp-viewing-6 .section7 h1,
.fp-viewing-7 .section8 h1, .fp-viewing-0 .section1 h1,
.fp-viewing-0 .section1 h2, .fp-viewing-0 .section1 .info1, .fp-viewing-0 .section1 .info2, .fp-viewing-1 .section2 .sct-title, .fp-viewing-1 .section2 .info1, .fp-viewing-1 .section2 .info2, .fp-viewing-1 .section2 .info3, .fp-viewing-2 .section3 .info1, .fp-viewing-2 .section3 .info2, .fp-viewing-2 .section3 .info3, .fp-viewing-2 .section3 .info4, .fp-viewing-3 .section4 .sct-title, .fp-viewing-3 .section4 .container img:nth-of-type(6), .fp-viewing-3 .section4 .container img:nth-of-type(5), .fp-viewing-3 .section4 .container img:nth-of-type(4), .fp-viewing-3 .section4 .container img:nth-of-type(3), .fp-viewing-3 .section4 .container img:nth-of-type(2), .fp-viewing-3 .section4 .container img:nth-of-type(1), .fp-viewing-4 .section5 .sct-title, .fp-viewing-5 .section6 .sct-title, .fp-viewing-5 .section6 img:nth-of-type(1), .fp-viewing-5 .section6 img:nth-of-type(2), .fp-viewing-6 .section7 p, .fp-viewing-7 .section8 .sct-title {
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.fp-viewing-4 .section5 .wrap > p:nth-of-type(1), .fp-viewing-4 .section5 .wrap > p:nth-of-type(2), .fp-viewing-4 .section5 .wrap > p:nth-of-type(3) {
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.section2 h1,
.section3 h1,
.section4 h1,
.section5 h1,
.section6 h1,
.section7 h1,
.section8 h1 {
  -webkit-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all 0.35s ease 0.2s;
  -o-transition: all 0.35s ease 0.2s;
  -ms-transition: all 0.35s ease 0.2s;
  -moz-transition: all 0.35s ease 0.2s;
  transition: all 0.35s ease 0.2s;
}

.fp-viewing-1 .section2 h1,
.fp-viewing-2 .section3 h1,
.fp-viewing-3 .section4 h1,
.fp-viewing-4 .section5 h1,
.fp-viewing-5 .section6 h1,
.fp-viewing-6 .section7 h1,
.fp-viewing-7 .section8 h1 {
  -webkit-transition: all 0.6s ease 0.5s;
  -o-transition: all 0.6s ease 0.5s;
  -ms-transition: all 0.6s ease 0.5s;
  -moz-transition: all 0.6s ease 0.5s;
  transition: all 0.6s ease 0.5s;
}

.section1 h1 {
  -webkit-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section1 h2 {
  -webkit-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -moz-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section1 img {
  -webkit-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section1 .info1,
.section1 .info2 {
  -webkit-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -moz-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.fp-viewing-0 .section1 h1,
.fp-viewing-0 .section1 h2 {
  -webkit-transition: all 0.6s ease 0.5s;
  -o-transition: all 0.6s ease 0.5s;
  -ms-transition: all 0.6s ease 0.5s;
  -moz-transition: all 0.6s ease 0.5s;
  transition: all 0.6s ease 0.5s;
}

.fp-viewing-0 .section1 img {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.6s;
  -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.6s;
  -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.6s;
  -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.6s;
  transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.6s;
}

.fp-viewing-0 .section1 .info1 {
  -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.8s;
  -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.8s;
  -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.8s;
  -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.8s;
  transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.8s;
}

.fp-viewing-0 .section1 .info2 {
  -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.9s;
  -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.9s;
  -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.9s;
  -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.9s;
  transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.9s;
}

.section2 .sct-title {
  -webkit-transform: translateY(25px);
  -o-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -moz-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all 0.45s ease 0.1s;
  -o-transition: all 0.45s ease 0.1s;
  -ms-transition: all 0.45s ease 0.1s;
  -moz-transition: all 0.45s ease 0.1s;
  transition: all 0.45s ease 0.1s;
}

.section2 .info1 {
  -webkit-transform: translateY(30%);
  -o-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -moz-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-transition: all 0.45s ease 0.15s;
  -o-transition: all 0.45s ease 0.15s;
  -ms-transition: all 0.45s ease 0.15s;
  -moz-transition: all 0.45s ease 0.15s;
  transition: all 0.45s ease 0.15s;
}

.section2 .info2 {
  -webkit-transform: translateY(30%);
  -o-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -moz-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-transition: all 0.45s ease 0.1s;
  -o-transition: all 0.45s ease 0.1s;
  -ms-transition: all 0.45s ease 0.1s;
  -moz-transition: all 0.45s ease 0.1s;
  transition: all 0.45s ease 0.1s;
}

.section2 .info3 {
  -webkit-transform: translateY(30%);
  -o-transform: translateY(30%);
  -ms-transform: translateY(30%);
  -moz-transform: translateY(30%);
  transform: translateY(30%);
  -webkit-transition: all 0.45s ease 0.05s;
  -o-transition: all 0.45s ease 0.05s;
  -ms-transition: all 0.45s ease 0.05s;
  -moz-transition: all 0.45s ease 0.05s;
  transition: all 0.45s ease 0.05s;
}

.fp-viewing-1 .section2 .sct-title {
  -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.45s;
  -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.45s;
  -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.45s;
  -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.45s;
  transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0.45s;
}

.fp-viewing-1 .section2 .info1 {
  -webkit-transition: all 0.6s ease 0.5s;
  -o-transition: all 0.6s ease 0.5s;
  -ms-transition: all 0.6s ease 0.5s;
  -moz-transition: all 0.6s ease 0.5s;
  transition: all 0.6s ease 0.5s;
}

.fp-viewing-1 .section2 .info2 {
  -webkit-transition: all 0.6s ease 0.65s;
  -o-transition: all 0.6s ease 0.65s;
  -ms-transition: all 0.6s ease 0.65s;
  -moz-transition: all 0.6s ease 0.65s;
  transition: all 0.6s ease 0.65s;
}

.fp-viewing-1 .section2 .info3 {
  -webkit-transition: all 0.6s ease 0.8s;
  -o-transition: all 0.6s ease 0.8s;
  -ms-transition: all 0.6s ease 0.8s;
  -moz-transition: all 0.6s ease 0.8s;
  transition: all 0.6s ease 0.8s;
}

.section3 .container-left {
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section3 .container-right {
  -webkit-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section3 .progress .progress-bar {
  width: 0;
  -webkit-transition: all 1s ease-out 0.2s;
  -o-transition: all 1s ease-out 0.2s;
  -ms-transition: all 1s ease-out 0.2s;
  -moz-transition: all 1s ease-out 0.2s;
  transition: all 1s ease-out 0.2s;
}

.section3 .info1 {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section3 .info2 {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section3 .info3 {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section3 .info4 {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  -ms-transition: all 0.45s ease 0s;
  -moz-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.section3 .info1,
.section3 .info2,
.section3 .info3,
.section3 .info4 {
  -webkit-transform: translateY(150%);
  -o-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -moz-transform: translateY(150%);
  transform: translateY(150%);
}

.fp-viewing-2 .section3 .container-left,
.fp-viewing-2 .section3 .container-right {
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  -ms-transition: all 0.8s ease 0.4s;
  -moz-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.fp-viewing-2 .container-left .progress:nth-of-type(1) .progress-bar {
  width: 70%;
  -webkit-transition: all 1.68s ease-in-out 0.6s;
  -o-transition: all 1.68s ease-in-out 0.6s;
  -ms-transition: all 1.68s ease-in-out 0.6s;
  -moz-transition: all 1.68s ease-in-out 0.6s;
  transition: all 1.68s ease-in-out 0.6s;
}

.fp-viewing-2 .container-left .progress:nth-of-type(2) .progress-bar {
  width: 50%;
  -webkit-transition: all 1.2s ease-in-out 0.6s;
  -o-transition: all 1.2s ease-in-out 0.6s;
  -ms-transition: all 1.2s ease-in-out 0.6s;
  -moz-transition: all 1.2s ease-in-out 0.6s;
  transition: all 1.2s ease-in-out 0.6s;
}

.fp-viewing-2 .container-left .progress:nth-of-type(3) .progress-bar {
  width: 60%;
  -webkit-transition: all 1.44s ease-in-out 0.6s;
  -o-transition: all 1.44s ease-in-out 0.6s;
  -ms-transition: all 1.44s ease-in-out 0.6s;
  -moz-transition: all 1.44s ease-in-out 0.6s;
  transition: all 1.44s ease-in-out 0.6s;
}

.fp-viewing-2 .container-left .progress:nth-of-type(4) .progress-bar {
  width: 55%;
  -webkit-transition: all 1.32s ease-in-out 0.6s;
  -o-transition: all 1.32s ease-in-out 0.6s;
  -ms-transition: all 1.32s ease-in-out 0.6s;
  -moz-transition: all 1.32s ease-in-out 0.6s;
  transition: all 1.32s ease-in-out 0.6s;
}

.fp-viewing-2 .container-left .progress:nth-of-type(5) .progress-bar {
  width: 73%;
  -webkit-transition: all 1.8s ease-in-out 0.6s;
  -o-transition: all 1.8s ease-in-out 0.6s;
  -ms-transition: all 1.8s ease-in-out 0.6s;
  -moz-transition: all 1.8s ease-in-out 0.6s;
  transition: all 1.8s ease-in-out 0.6s;
}

.fp-viewing-2 .container-right .progress:nth-of-type(1) .progress-bar {
  width: 60%;
  -webkit-transition: all 1.44s ease-in-out 0.6s;
  -o-transition: all 1.44s ease-in-out 0.6s;
  -ms-transition: all 1.44s ease-in-out 0.6s;
  -moz-transition: all 1.44s ease-in-out 0.6s;
  transition: all 1.44s ease-in-out 0.6s;
}

.fp-viewing-2 .container-right .progress:nth-of-type(2) .progress-bar {
  width: 47%;
  -webkit-transition: all 1.08s ease-in-out 0.6s;
  -o-transition: all 1.08s ease-in-out 0.6s;
  -ms-transition: all 1.08s ease-in-out 0.6s;
  -moz-transition: all 1.08s ease-in-out 0.6s;
  transition: all 1.08s ease-in-out 0.6s;
}

.fp-viewing-2 .container-right .progress:nth-of-type(3) .progress-bar {
  width: 29%;
  -webkit-transition: all 0.72s ease-in-out 0.6s;
  -o-transition: all 0.72s ease-in-out 0.6s;
  -ms-transition: all 0.72s ease-in-out 0.6s;
  -moz-transition: all 0.72s ease-in-out 0.6s;
  transition: all 0.72s ease-in-out 0.6s;
}

.fp-viewing-2 .container-right .progress:nth-of-type(4) .progress-bar {
  width: 46%;
  -webkit-transition: all 1.08s ease-in-out 0.6s;
  -o-transition: all 1.08s ease-in-out 0.6s;
  -ms-transition: all 1.08s ease-in-out 0.6s;
  -moz-transition: all 1.08s ease-in-out 0.6s;
  transition: all 1.08s ease-in-out 0.6s;
}

.fp-viewing-2 .container-right .progress:nth-of-type(5) .progress-bar {
  width: 65%;
  -webkit-transition: all 1.56s ease-in-out 0.6s;
  -o-transition: all 1.56s ease-in-out 0.6s;
  -ms-transition: all 1.56s ease-in-out 0.6s;
  -moz-transition: all 1.56s ease-in-out 0.6s;
  transition: all 1.56s ease-in-out 0.6s;
}

.fp-viewing-2 .section3 .info1 {
  -webkit-transition: all 0.7s ease 0.9s;
  -o-transition: all 0.7s ease 0.9s;
  -ms-transition: all 0.7s ease 0.9s;
  -moz-transition: all 0.7s ease 0.9s;
  transition: all 0.7s ease 0.9s;
}

.fp-viewing-2 .section3 .info2 {
  -webkit-transition: all 0.7s ease 1.05s;
  -o-transition: all 0.7s ease 1.05s;
  -ms-transition: all 0.7s ease 1.05s;
  -moz-transition: all 0.7s ease 1.05s;
  transition: all 0.7s ease 1.05s;
}

.fp-viewing-2 .section3 .info3 {
  -webkit-transition: all 0.7s ease 1.2s;
  -o-transition: all 0.7s ease 1.2s;
  -ms-transition: all 0.7s ease 1.2s;
  -moz-transition: all 0.7s ease 1.2s;
  transition: all 0.7s ease 1.2s;
}

.fp-viewing-2 .section3 .info4 {
  -webkit-transition: all 0.7s ease 1.35s;
  -o-transition: all 0.7s ease 1.35s;
  -ms-transition: all 0.7s ease 1.35s;
  -moz-transition: all 0.7s ease 1.35s;
  transition: all 0.7s ease 1.35s;
}

.section4 .sct-title {
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section4 .container img {
  -webkit-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -moz-transform: translateY(40px);
  transform: translateY(40px);
}

.section4 .container img:nth-of-type(3),
.section4 .container img:nth-of-type(4) {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section4 .container img:nth-of-type(2),
.section4 .container img:nth-of-type(5) {
  -webkit-transition: all 0.6s ease 0.06s;
  -o-transition: all 0.6s ease 0.06s;
  -ms-transition: all 0.6s ease 0.06s;
  -moz-transition: all 0.6s ease 0.06s;
  transition: all 0.6s ease 0.06s;
}

.section4 .container img:nth-of-type(1),
.section4 .container img:nth-of-type(6) {
  -webkit-transition: all 0.6s ease 0.12s;
  -o-transition: all 0.6s ease 0.12s;
  -ms-transition: all 0.6s ease 0.12s;
  -moz-transition: all 0.6s ease 0.12s;
  transition: all 0.6s ease 0.12s;
}

.fp-viewing-3 .section4 .sct-title {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  -ms-transition: all 0.6s ease 0.6s;
  -moz-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(6) {
  -webkit-transition: all 0.6s ease 0.5s;
  -o-transition: all 0.6s ease 0.5s;
  -ms-transition: all 0.6s ease 0.5s;
  -moz-transition: all 0.6s ease 0.5s;
  transition: all 0.6s ease 0.5s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(5) {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  -ms-transition: all 0.6s ease 0.6s;
  -moz-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(4) {
  -webkit-transition: all 0.6s ease 0.7s;
  -o-transition: all 0.6s ease 0.7s;
  -ms-transition: all 0.6s ease 0.7s;
  -moz-transition: all 0.6s ease 0.7s;
  transition: all 0.6s ease 0.7s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(3) {
  -webkit-transition: all 0.6s ease 0.8s;
  -o-transition: all 0.6s ease 0.8s;
  -ms-transition: all 0.6s ease 0.8s;
  -moz-transition: all 0.6s ease 0.8s;
  transition: all 0.6s ease 0.8s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(2) {
  -webkit-transition: all 0.6s ease 0.9s;
  -o-transition: all 0.6s ease 0.9s;
  -ms-transition: all 0.6s ease 0.9s;
  -moz-transition: all 0.6s ease 0.9s;
  transition: all 0.6s ease 0.9s;
}

.fp-viewing-3 .section4 .container img:nth-of-type(1) {
  -webkit-transition: all 0.6s ease 1s;
  -o-transition: all 0.6s ease 1s;
  -ms-transition: all 0.6s ease 1s;
  -moz-transition: all 0.6s ease 1s;
  transition: all 0.6s ease 1s;
}

.section5 .sct-title {
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section5 .wrap > p:nth-of-type(1) {
  -webkit-transform: translateX(70%);
  -o-transform: translateX(70%);
  -ms-transform: translateX(70%);
  -moz-transform: translateX(70%);
  transform: translateX(70%);
  -webkit-transition: all 0.8s linear 0.2s;
  -o-transition: all 0.8s linear 0.2s;
  -ms-transition: all 0.8s linear 0.2s;
  -moz-transition: all 0.8s linear 0.2s;
  transition: all 0.8s linear 0.2s;
}

.section5 .wrap > p:nth-of-type(2) {
  -webkit-transform: translateX(70%);
  -o-transform: translateX(70%);
  -ms-transform: translateX(70%);
  -moz-transform: translateX(70%);
  transform: translateX(70%);
  -webkit-transition: all 0.7s linear 0.1s;
  -o-transition: all 0.7s linear 0.1s;
  -ms-transition: all 0.7s linear 0.1s;
  -moz-transition: all 0.7s linear 0.1s;
  transition: all 0.7s linear 0.1s;
}

.section5 .wrap > p:nth-of-type(3) {
  -webkit-transform: translateX(70%);
  -o-transform: translateX(70%);
  -ms-transform: translateX(70%);
  -moz-transform: translateX(70%);
  transform: translateX(70%);
  -webkit-transition: all 0.6s linear 0s;
  -o-transition: all 0.6s linear 0s;
  -ms-transition: all 0.6s linear 0s;
  -moz-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
}

.fp-viewing-4 .section5 .sct-title {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  -ms-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.fp-viewing-4 .section5 .wrap > p:nth-of-type(1) {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  -ms-transition: all 0.6s ease 0.6s;
  -moz-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.fp-viewing-4 .section5 .wrap > p:nth-of-type(2) {
  -webkit-transition: all 0.6s ease 0.7s;
  -o-transition: all 0.6s ease 0.7s;
  -ms-transition: all 0.6s ease 0.7s;
  -moz-transition: all 0.6s ease 0.7s;
  transition: all 0.6s ease 0.7s;
}

.fp-viewing-4 .section5 .wrap > p:nth-of-type(3) {
  -webkit-transition: all 0.6s ease 0.8s;
  -o-transition: all 0.6s ease 0.8s;
  -ms-transition: all 0.6s ease 0.8s;
  -moz-transition: all 0.6s ease 0.8s;
  transition: all 0.6s ease 0.8s;
}

.section6 .sct-title {
  -webkit-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: all 0.6s ease 0.1s;
  -o-transition: all 0.6s ease 0.1s;
  -ms-transition: all 0.6s ease 0.1s;
  -moz-transition: all 0.6s ease 0.1s;
  transition: all 0.6s ease 0.1s;
}

.section6 img:nth-of-type(2),
.section6 img:nth-of-type(1) {
  -webkit-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -moz-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.fp-viewing-5 .section6 .sct-title {
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  -ms-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.fp-viewing-5 .section6 img:nth-of-type(1) {
  -webkit-transition: all 0.6s ease 0.65s;
  -o-transition: all 0.6s ease 0.65s;
  -ms-transition: all 0.6s ease 0.65s;
  -moz-transition: all 0.6s ease 0.65s;
  transition: all 0.6s ease 0.65s;
}

.fp-viewing-5 .section6 img:nth-of-type(2) {
  -webkit-transition: all 0.6s ease 0.75s;
  -o-transition: all 0.6s ease 0.75s;
  -ms-transition: all 0.6s ease 0.75s;
  -moz-transition: all 0.6s ease 0.75s;
  transition: all 0.6s ease 0.75s;
}

.section7 .sct-title {
  -webkit-transform: translateY(30px);
  -o-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -moz-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0s;
  -o-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0s;
  -ms-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0s;
  transition: all 0.6s cubic-bezier(0.91, 0.01, 0.6, 0.99) 0s;
}

.section7 .sec7-img1,
.section7 .sec7-img2,
.section7 .sec7-img3,
.section7 .sec7-img4 {
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
}

.section7 .sec7-img1 {
  -webkit-transition: all 0.5s ease 0.06s;
  -o-transition: all 0.5s ease 0.06s;
  -ms-transition: all 0.5s ease 0.06s;
  -moz-transition: all 0.5s ease 0.06s;
  transition: all 0.5s ease 0.06s;
}

.section7 .sec7-img2 {
  -webkit-transition: all 0.15s ease 0.12s;
  -o-transition: all 0.15s ease 0.12s;
  -ms-transition: all 0.15s ease 0.12s;
  -moz-transition: all 0.15s ease 0.12s;
  transition: all 0.15s ease 0.12s;
}

.section7 .sec7-img3 {
  -webkit-transition: all 0.3s ease 0.03s;
  -o-transition: all 0.3s ease 0.03s;
  -ms-transition: all 0.3s ease 0.03s;
  -moz-transition: all 0.3s ease 0.03s;
  transition: all 0.3s ease 0.03s;
}

.section7 .sec7-img4 {
  -webkit-transition: all 0.45s ease 0.15s;
  -o-transition: all 0.45s ease 0.15s;
  -ms-transition: all 0.45s ease 0.15s;
  -moz-transition: all 0.45s ease 0.15s;
  transition: all 0.45s ease 0.15s;
}

.fp-viewing-6 .section7 p {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  -ms-transition: all 0.6s ease 0.6s;
  -moz-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.fp-viewing-6 .section7 .sec7-img1 {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease 0.85s;
  -o-transition: all 0.8s ease 0.85s;
  -ms-transition: all 0.8s ease 0.85s;
  -moz-transition: all 0.8s ease 0.85s;
  transition: all 0.8s ease 0.85s;
}

.fp-viewing-6 .section7 .sec7-img2 {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  -ms-transition: all 0.8s ease 1s;
  -moz-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.fp-viewing-6 .section7 .sec7-img3 {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease 1.15s;
  -o-transition: all 0.8s ease 1.15s;
  -ms-transition: all 0.8s ease 1.15s;
  -moz-transition: all 0.8s ease 1.15s;
  transition: all 0.8s ease 1.15s;
}

.fp-viewing-6 .section7 .sec7-img4 {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease 1.3s;
  -o-transition: all 0.8s ease 1.3s;
  -ms-transition: all 0.8s ease 1.3s;
  -moz-transition: all 0.8s ease 1.3s;
  transition: all 0.8s ease 1.3s;
}

.section8 .sct-title {
  -webkit-transform: translateY(28px);
  -o-transform: translateY(28px);
  -ms-transform: translateY(28px);
  -moz-transform: translateY(28px);
  transform: translateY(28px);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.section8 img {
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

.section8 img:nth-of-type(1),
.section8 img:nth-of-type(6) {
  -webkit-transition: all 0.4s ease 0.12s;
  -o-transition: all 0.4s ease 0.12s;
  -ms-transition: all 0.4s ease 0.12s;
  -moz-transition: all 0.4s ease 0.12s;
  transition: all 0.4s ease 0.12s;
}

.section8 img:nth-of-type(2),
.section8 img:nth-of-type(5) {
  -webkit-transition: all 0.4s ease 0.06s;
  -o-transition: all 0.4s ease 0.06s;
  -ms-transition: all 0.4s ease 0.06s;
  -moz-transition: all 0.4s ease 0.06s;
  transition: all 0.4s ease 0.06s;
}

.section8 img:nth-of-type(3),
.section8 img:nth-of-type(4) {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.fp-viewing-7 .section8 .sct-title {
  -webkit-transition: all 0.6s ease 0.7s;
  -o-transition: all 0.6s ease 0.7s;
  -ms-transition: all 0.6s ease 0.7s;
  -moz-transition: all 0.6s ease 0.7s;
  transition: all 0.6s ease 0.7s;
}

.fp-viewing-7 .section8 img:nth-of-type(1) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.5s;
  -o-transition: all 0.6s 0.5s;
  -ms-transition: all 0.6s 0.5s;
  -moz-transition: all 0.6s 0.5s;
  transition: all 0.6s 0.5s;
}

.fp-viewing-7 .section8 img:nth-of-type(2) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.65s;
  -o-transition: all 0.6s 0.65s;
  -ms-transition: all 0.6s 0.65s;
  -moz-transition: all 0.6s 0.65s;
  transition: all 0.6s 0.65s;
}

.fp-viewing-7 .section8 img:nth-of-type(3) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.8s;
  -o-transition: all 0.6s 0.8s;
  -ms-transition: all 0.6s 0.8s;
  -moz-transition: all 0.6s 0.8s;
  transition: all 0.6s 0.8s;
}

.fp-viewing-7 .section8 img:nth-of-type(6) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.58s;
  -o-transition: all 0.6s 0.58s;
  -ms-transition: all 0.6s 0.58s;
  -moz-transition: all 0.6s 0.58s;
  transition: all 0.6s 0.58s;
}

.fp-viewing-7 .section8 img:nth-of-type(5) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.74s;
  -o-transition: all 0.6s 0.74s;
  -ms-transition: all 0.6s 0.74s;
  -moz-transition: all 0.6s 0.74s;
  transition: all 0.6s 0.74s;
}

.fp-viewing-7 .section8 img:nth-of-type(4) {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s 0.89s;
  -o-transition: all 0.6s 0.89s;
  -ms-transition: all 0.6s 0.89s;
  -moz-transition: all 0.6s 0.89s;
  transition: all 0.6s 0.89s;
}

/*# sourceMappingURL=intro-animStyle.css.map */
