<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Riny-前端技能</title>
	<link rel="shortcut icon" href="../favicon.ico" type="/image/x-icon"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/skill-style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
		        <span class="sr-only">切换导航</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		     </button>
			<a href="#" class="navbar-brand">Front End Skill</a>
		</div>

		<div class="collapse navbar-collapse" id="example-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li data-serial="0" class="active"><a href="javascript:;">Home</a></li>
				<li data-serial="1"><a href="javascript:;">Photoshop</a></li>
				<li data-serial="2"><a href="javascript:;">jQuery</a></li>
				<li data-serial="3"><a href="javascript:;">JavaScript</a></li>
				<li data-serial="4"><a href="javascript:;">CSS3</a></li>
				<li data-serial="5"><a href="javascript:;">HTML5</a></li>
				<li data-serial="6"><a href="javascript:;">Other</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="jumbotron section">

	<img src="images/skill/banner.jpg" width="100%">
	<div class="jumbotron-info">
		<h2>前端技能</h2>
	    <p class="subtit">欢迎访问我的GitHub，也可以通过简书访问我的技术博客。</p>
	    <p>
	    	<a href="https://github.com/Rinyeo" target="_blank" class="btn btn-primary btn-md banner-btn" role="button">前往GitHub</a>
	    	<a href="http://www.jianshu.com/users/224f494a7f79/latest_articles" class="btn btn-primary btn-md" target="_blank" role="button">前往简书</a>
	    </p>

	</div>
</div>

<div class="section section1">
	<div class="container">
		<h6 class="serial">1</h6>
		<h2 class="clear-header-margin">photoshop</h2>
		<div class="title-line"><span></span></div>
		<h4>熟练使用photoshop，能够满足日常操作</h4>
		<div class="row">
			<div class="card col-sm-6 col-md-5  col-xs-10 col-md-offset-1 col-sm-offset-0  col-xs-offset-1">
				<div class="section-card">
					<h5 class="section-card-title"><strong>· </strong>切图</h5>
					<div class="section-card-figure">
						<img src="images/skill/photoshop-1.jpg" alt="" width="100%">
					</div>
					<div class="section-card-info">
						<p>1. 能够使用参考线切图、切片切图、脚本切图、高级切图以及辅助切图功能来进前端页面开发。</p>
						<p>2. 能够使用photoshop工具来定位spring图片中的Icon坐标。</p>
					</div>
				</div>

			</div>
			<div class="card col-sm-6 col-md-5 col-xs-10  col-xs-offset-1 col-md-offset-0 col-sm-offset-0">
				<div class="section-card">
					<h5 class="section-card-title"><strong>· </strong>作图</h5>
					<div class="section-card-figure">
						<img src="images/skill/photoshop-2.jpg" alt="" width="100%">
					</div>
					<div class="section-card-info">
						<p>1. 能够使用photoshop进行一些简单的平面设计和扁平化Icon设计。</p>
						<p>2. 能够对手上的PSD素材，进行二次细节调整，无需把设计稿打回给设计师。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section2">
	<h6 class="serial">2</h6>
	<h2 class="clear-header-margin">jQuery</h2>
	<div class="title-line"><span></span></div>
	<h4>独立开发过基于 jQuery 的“图片延迟加载”插件 <strong>imagesDelay.js</strong></h4>
		<div class="section-main">

			<p class="info"><strong>ImagesDelay.js</strong> 是一款基于 jQuery 的轻量级图片延迟加载开源插件，也就是通常所说的图片懒加载技术，通过该插件可以轻松完成图片懒加载。代码已托管在 GitHub 。</p>
			<p>
		    	<a href="http://rinhome.com/imagesDelay/" class="btn btn-primary btn-md" target="_blank" role="button">前往官网</a>
	    		<a href="https://github.com/Rinyeo/jquery.imagesDelay.js" class="btn btn-primary btn-md" target="_blank" role="button">前往github</a>
	    	</p>
	</div>
</div>

<div class="section section3">
	<h6 class="serial">3</h6>
	<h2 class="clear-header-margin">JavaScript</h2>
	<div class="title-line"><span></span></div>
	<h4>能够使用JS封装日常所需的组件和工具库</h4>
	<div class="section-main">
		<div class="col-sm-6">
			<div class="division-box">
				<h5>1. 简单小巧的AJAX工具库</h5>
				<p class='section-info'>一个根据日常需求而封装的一个 AJAX 工具库，也是学习闭包和模块化开发的第一步，该库在以后会持续升级。</p>
				<p><a href="https://github.com/Rinyeo/AJAX-Simple-Tools-Library" target="_blank" class="btn btn-primary">查看AJAX库</a></p>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="division-box">
				<h5>2. 仿 Bootstrap UI 响应式图片轮播插件</h5>
				<p class="section-info">该组件是仿照 bootstrap3 中的UI组件，基于原生 js 所开发，无需依赖第三方库。支持响应式，支持键盘左右切换。</p>
				<p><a href="https://github.com/Rinyeo/image_carousel" target="_blank" class="btn btn-primary">查看UI组件</a></p>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="division-box">
				<h5>3. 仿知乎登录窗口UI</h5>
				<p class="section-info">该组件是仿照知乎登录窗口UI，主要练习原生JavaScript的鼠标拖拽、窗口限定以及创口吸附等功能。</p>
				<p><a href="https://github.com/Rinyeo/pointerDrag" target="_blank" class="btn btn-primary">查看UI组件</a></p>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="division-box">
				<h5>4. 仿jQuery UI resizable 组件</h5>
				<p class='section-info'>该组件仿照 jquery UI Resizable 可伸缩窗口，在仿知乎UI的功能基础上，实现鼠标拖拽控制窗口伸缩。</p>
				<p><a href="https://github.com/Rinyeo/Resizable" class="btn btn-primary" target="_blank">查看UI组件</a></p>
			</div>
		</div>
	</div>
</div>

<div class="section section4">
	<h6 class="serial">4</h6>
	<h2 class="clear-header-margin">CSS3</h2>
	<div class="title-line"><span></span></div>
	<h4>能够使用 CSS3 keyframes 制作动画</h4>
	<div class="loader">
		<div class="loader-inner ball-triangle-path">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="slide">
		<div class="slide-box slide1"></div>
		<div class="slide-box slide2"></div>
		<div class="slide-box slide3"></div>
	</div>
	<p>注: 只对webkit内核做兼容处理，请在chrome或safari下查看，或将本地游览器升级到最新版本。</p>
</div>

<div class="section section5">
	<h6 class="serial">5</h6>
	<h2 class="clear-header-margin">HTML5</h2>
	<div class="title-line"><span></span></div>
	<h4>了解 HTML5 API 与 新特性</h4>
	<div class="section-info">
		<p>了解 HTML5，能够根据 SVG API 文档，制作一个简单的 SVG 编辑器 Demo。</p>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="202px" height="70">
			<rect width="24" height="24" x="20" y="20" fill="#888"/>
			<polygon points="116,20 140,44 116,44"  fill="#888"/>
			<circle cx="80" cy="32" r="12" fill="#888"/>
			<polygon points="172,20 184,44 160,44"  fill="#888"/>
		</svg>
		<p><a href="https://github.com/Rinyeo/svgEditor" target="_blank" class="btn btn-primary">查看编辑器</a></p>
	</div>
</div>

<div class="section section6">
	<h6 class="serial">6</h6>
	<h2 class="clear-header-margin">Other</h2>
	<div class="title-line"><span></span></div>
	<h4>技能，尽在学习之中！</h4>
	<div class="container">
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 figure figure-sublime">
			<h5><strong>· &nbsp;</strong>熟练使用 Sublime</h5>
			<img src="images/skill/sublime.gif" title="sublime" width="100%">
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 figure">
			<h5><strong>· &nbsp;</strong>熟练使用 Git/GitHub</h5>
			<img src="images/skill/git.gif" title="git" width="100%">
		</div>
		<div class="clearfix"></div>
		<p class="omit">. . . . . .</p>
		<p class="email"><img src="images/skill/mail.png" width="35">rmengfei@gmail.com</p>
		<p class="hint">想了解更多技能点，快来邀请我参加面试吧！</p>
	</div>
</div>

<div class="footer">
	<p class="footer-links">
		<img src="images/skill/github.png" width="25">
		<a href="https://github.com/Rinyeo/myWebsite" target="_blank"> View the GitHub</a>
	</p>
</div>
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script>
	$(function() {
		var $nav = $('.nav');
		var $li = $('.nav li');
		var $section = $('.section');
		var aLimit = [];
		var fleg = true;

		$nav.on('click', 'li', function() {
			fleg = false;

			var serial = parseInt($(this).attr('data-serial'));
			var length = $section.eq(serial).offset().top - 50;

			slide(length, $(this));
		});

		function slide(length,$this) {
			$('body,html').stop().animate({scrollTop: length},600, function() {
				$li.removeClass('active');
				$this.addClass('active');
				fleg = true;
			});
		}

		$(window).resize(function(event) {
			figure();
		});

		$(window).scroll(function () {
			if (fleg) {
				figure();
				var scrollTop = $(document).scrollTop();
				for (var i = 0; i < aLimit.length-1; i++) {
					if(scrollTop >= aLimit[i] && scrollTop <= aLimit[i + 1]) {
						$li.removeClass('active');
						$li.eq(i).addClass('active');
					}
					if (scrollTop + $(window).height() == aLimit[i + 1]) {
						$li.removeClass('active');
						$li.eq(i).addClass('active');
					}
				};
			}
		});

		function figure() {
			aLimit = [];
			for (var i = 0; i < $section.length; i++) {
				aLimit.push($section.eq(i).offset().top - 50);
			};
			aLimit.push($(document).height());
		}
	});
	</script>
</body>
</html>